app/assets/
project/project/
project/target/coffeescript/
project/target/config-classes/
project/target/less/
project/target/node-modules/
project/target/scala-2.12/
project/target/webjars-plugin.cache
project/target/streams/compile/
project/target/streams/runtime/
project/target/streams/_global/_global/
project/target/streams/_global/csrConfiguration/
project/target/streams/_global/csrProject/
project/target/streams/_global/dependencyPositions/
project/target/streams/_global/ivySbt/
project/target/streams/_global/moduleSettings/
project/target/streams/_global/projectDescriptors/
project/target/streams/_global/scalaCompilerBridgeScope/
project/target/streams/_global/update/
target/scala-2.13/
target/web/
target/streams/_build/
target/streams/compile/
target/streams/runtime/
target/streams/test/
target/streams/web-assets/
target/streams/_global/coffeescript
target/streams/_global/csrConfiguration/
target/streams/_global/csrProject/
target/streams/_global/dependencyPositions/
target/streams/_global/_global/
target/streams/_global/ivySbt/
target/streams/_global/less/
target/streams/_global/moduleSettings/
target/streams/_global/playCommonClassloader/
target/streams/_global/playCompileEverything/
target/streams/_global/projectDescriptors/
target/streams/_global/scalaCompilerBridgeScope/
target/streams/_global/update/
target/streams/_global/updateClassifiers/
target/streams/_global/webReporter/
.settings/
logs/
Get-ChildItem
null/Coursier/cache/v1/https